<h1>Dashboard</h1>

<div>
  <p>user email: <%= current_user.email %></p>
  <p><code>TODO</code> link to make a new idea</p>
</div>

<div>
  <div>
    <h2>published ideas</h2>
  </div>
  
  <div>
    <h2>unpublished ideas</h2>
  </div>
</div>