<p>
  <% if @past_vote %>
  <!-- TODO offer link to see version voted on, update vote there?? -->
    you've voted on a <%= link_to 'different version', idea_path(id: @idea.id, version: @past_vote.version.number) %>&mdash;leave it or <%= link_to 'update your vote to the current version', update_vote_path(@past_vote.id, @version.id), method: 'POST' %>

  <% elsif !@has_already_voted %>
    <%= link_to 'Vote on this idea', cast_vote_path(@version.id), method: 'POST' %>

  <% else %>
    you've supported this idea
    <%= link_to 'Undue your Vote', remove_vote_path(@vote.id, @idea.id), method: 'DELETE' %>
  <% end %>
</p>
