<p class="align-baseline">
  <%= link_to 'edit idea', edit_idea_url(@idea), class: 'btn btn-outline-primary btn-sm mr-2' %>

  <% if @idea.published %>
    <small>published</small>
    <%= link_to "unpublish this idea", idea_publish_path(@idea.id), method: "put", class: 'btn btn-outline-warning btn-sm text-dark' %>
  <% else %>
    <small>unpublished</small>
    <%= link_to "publish this idea", idea_publish_path(@idea.id), method: "put", class: 'btn btn-outline-success btn-sm' %>
  <% end %>

  <%= link_to 'delete idea', idea_path, id: @idea.id, method: 'delete', class: 'btn btn-link btn-sm text-danger' %>
</p>
