.dashboard-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-column-gap: 10px;
  grid-template-areas: "details ideas";

  .user-details {
    grid-area: "details";
    background: #e2e2e2;
  }

  .user-ideas {
    grid-area: "ideas";
  }

  .user-details,
  .user-ideas {
    padding: 5px;
  }
}
