.idea-container {
  @include media-breakpoint-up(lg) {
    @include make-row();
    // overwrite the negative margins >:(
    margin: 0;
    justify-content: space-between;

    .idea.card {
      flex: 0 0 auto;
      width: 48.75%;
      margin-bottom: $spacer;
    }
  }
}
